/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hidden::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge add Firefox */
.scrollbar-hidden {
  -ms-overflow-style: none;
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "Fell";
  src: local("Fell"),
    url(./assets/fonts/IMFellEnglishSC-Regular.ttf) format("truetype");
}

@font-face {
  font-family: "Rufina";
  src: local("Rufina"),
    url(./assets/fonts/Rufina-Regular.ttf) format("truetype");
}

.card {
  position: relative;
  border-radius: 20px;
  /* width: 350px;
  height: 400px; */
  background-size: contain;
  background-position: center;
}
.card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #363ea0, #3278d8, #59bfd7);
  filter: blur(10px);
  border-radius: 20px;
  z-index: -1;
  transform: rotate(15deg);
}

.tab::after {
  content: "";
  width: 100%;
  height: 2px;
  display: block;
  background-color: #f07c29;
  -webkit-transform: scaleX(0);
  -moz-transform: scaleX(0);
  -ms-transform: scaleX(0);
  -o-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: transform 0.3s;
  -moz-transition: transform 0.3s;
  -o-transition: transform 0.3s;
  transition: transform 0.3s;
  transform-origin: 50%;
}
